<?xml version="1.0" encoding="UTF-8"?>

<Configuration strict="true" monitorInterval="60">

	<!-- Propriétés pour réutilisation -->
	<Properties>
		<Property name="filename">log/location.log</Property>	
	</Properties>

	<!-- Appenders : Destinations de message -->
	<Appenders>
		<Appender type="Console" name="console">
			<!-- Layout : Format de sortie -->
			<PatternLayout pattern="%d{DATE} [%t] %5level (%logger) - %msg %n" />
			<!-- Niveau des messages -->
			<ThresholdFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY" />
		</Appender>
		<Appender type="RollingFile" name="file" filename="${filename}" 
				  filepattern="${filename}-%d{yyyy-MM-dd}.log">
			<!-- Layout : Format de sortie -->
			<PatternLayout pattern="%d{DATE} [%t] %5level (%logger) - %msg %n" />
			
			<ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY" />
			<Policies>
				<TimeBasedTriggeringPolicy  />
			</Policies>
		</Appender>
	</Appenders>

	<!--  Logger : Définition des destinations de message en fonction des éléments du code -->
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="console" />
			<AppenderRef ref="file" />
		</Root>
	</Loggers>

</Configuration>